<html>
  <head>
    <title>Black Bitches</title>
    <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/js/player.js"></script>
    <script type="text/javascript" src="/js/world.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>
    <script type="text/javascript" src="/js/faye-browser-min.js"></script>
    <script type="text/javascript" src="/js/keymaster.min.js"></script>
    <link   rel="stylesheet" type="text/css" href="/css/basic.css" />
        
    <script type="text/javascript">
      var view_config = {
        logged_in:<%=logged_in%>,
        name:'<%=name%>',
        token:'<%=token%>'
      };
    </script>
  </head>
  
  <body>
    <h1>Black Bitches</h1>
    
    <% if(!logged_in) { %>
      <div id="player_loggin">
        <input type="hidden" id="name_input" value="<%=name%>"/>
        <input type="hidden" id="token" value="<%=token%>"/>
        <input type="button" onclick="joinGame()" value="join"/>
      </div>
    <% } %>
    <canvas id="world" width="800" height="600">
      <h1>You browser is old and you should feel bad</h1>
      <img src="/images/old_browsers.jpg" alt="You browser is old and you should feel bad" />
    </canvas>
  </body>

</html>
